<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylehomepage.css') }}">
    <title>Document</title>
</head>
<body>
    <main>
        <nav class>
            <section>
                    <div>
                        <ul>
                            <li>><img src="#" alt="Logotipo">Logotipo</li>
                            <li><a href="/">Home</a></li>
                            <li><a href="login">Login</a></li>   
                        </ul>
                    </div>
            </section>
        </nav>
    </main>
</body>
</html>